body {
  background-image: url("the-three-gorges-788285_1920.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*I HATE CSS IT SUCKS*/
}

.header {
  font-family: "Trebuchet MS";
  background-color: rgba(255, 255, 255, 0.5);
}

.nav {
  font-family: "Lucida Console"; 
}

.main {
  font-family: "Trebuchet MS";
  background-color: rgba(255, 255, 255, 0.5);
}

.footer {
  font-family: "Lucida Console";
  background-color: rgba(255, 255, 255, 0.5);
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  
.nav li a:hover {
  background-color: #111;
}

.footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.footer li {
  float: center; 
}

.footer li a {
  display: block;
  color: black;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

.footer p {
  float: center; 
}

.footer p a {
  color: black; 
}
